.RelatedJobs{
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    overflow-x: scroll;

    .RelatedJob{
        margin: 10px;
        padding: 10px;
        border: 1px solid #e7e7e7;
        border-radius: 5px;
        min-width: 250px;

        a {
            font-weight: 600;
            cursor: pointer;
            font-size: 16px;
        }

        & > div{
            p:first-child{
                margin: 0;
                font-size: 14px;
                color: #545454;
            }

            p:last-child{
                margin: 0;
                font-size: 14px;
                color: #545454;
            }
        }
    }
}