$basic-color: #03a9f4;
$basic-color-hover: #0288d1;

.JobPage{
    min-height: 100vh;
    margin: auto;
    padding: 5px 10px 100px 10px;

    .closeButton{
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        margin: 0px;
        padding: 0px;

        p{
            text-align: right;
            margin: 20px 20px 0px 0px;
            font-size: 24px;
            font-weight: 400;
            cursor: pointer;
            user-select: none;
        }
    }

    .jobTitle{
        margin: 0px;
        padding: 0px;
        h1{
            font-size: 28px;
            text-align: left;
            font-weight: 500;
            margin: 10px 0px;
        }
    }
    
    .jobHeader{

        display: grid;
        grid-template-columns: 25% 75%;        
        
        &>div:first-child{
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: contain;
            }
        }

        &>div:last-child{
            // Job Role
            p:first-child{
                font-size: 16px;
                color: #434343;
                margin: 0px;
                padding: 0px;
            }
            // Organization
            p:nth-child(2){
                font-size: 22px;
                margin: 5px 0px;
            }
            // Region
            p:nth-child(3){
                font-size: 16px;
                color: #7777;
                margin-top: 5px;

                & span:last-child{
                    margin-left: 6px;
                }
            }

            p:last-child{
                font-weight: bold;
                color: #42af42;
            }
        }
    }

    .time{
        margin: 0px;
        padding: 0px 0px 0px 20px;
    }

    .applyButton{
        display: block;
        margin: 20px auto;
        padding: 15px 0px;
        width: 70%;
        
        border-radius: 20px;
        border: none;
        outline: none;

        background-color: $basic-color;
        color: #fff;
        font-size: 20px;

        cursor: pointer;
    
        &:hover{
            background-color: $basic-color-hover;
        }
    }

    hr {
        width: 90%;
        border-top: 1px solid #e0e0e0;
    }

    .jobBody{

        ul{
            li {
                margin-bottom: 10px;
            }
        }

        h2{
            font-size: 18px;
            font-weight: bold;
        }

        &>div{
            
            margin-bottom: 30px;
        
            div:last-child{
                padding-left: 10px;
            }
        }
    }

    .footerApplyButton{
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        border-top: 2px solid #d2d2d2;
        padding: 10px 0px;

        button {
            margin: 0px auto;
        }
    }

    .footerApplyButtonShow{
        display: block;
    }

    .bluredContent{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        position: fixed;
        top: 0;

        div {
            max-width: 90vw;
        }
    }

    .applyWindow{
        display: none;
        position: fixed;
        top: 0;
        left: 0;

        min-height: 100vh;
        max-height: 100vh;
        min-width: 100vw;
        max-width: 100vw;
        
        background-color: #dcdcdcbf;

        .closeButton {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }

        .applyWindow_body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .applyWindow_options{
            background-color: #fff;
            width: 90%;
            border-radius: 5px;
            border: 1px solid #d3d3d3;

            &>div:first-child{
                border-bottom: 1px solid #e3e3e3;

                p:first-child{
                   text-align: center;
                   margin: 0px 0px 15px 0px;
                   padding: 10px 0px;
                   color: #545454; 
                   background-color: #f2f2f2;
                   border-radius: 5px 5px 0px 0px;
                }

                p:nth-child(2){
                    text-align: center;
                    font-size: 22px;
                    font-weight: 600;
                    margin: 0px;
                    padding: 0px;
                    color: #545454; 
                }

                p:last-child{
                    font-size: 16px;
                    text-align: center;
                    margin: 0px;
                    padding: 0px;
                }
            }

            &>div:nth-child(2){
                padding: 15px 10px;

                &>p:first-child {
                    font-size: 14px;
                    text-align: center;
                    font-style: italic;
                    color: #989898;
                }

                &>p:last-child{
                    color: red;
                    font-weight: bold;
                    font-style: italic;
                }

                &>div {
                    margin: 0;                    
                    padding:0px 0px;
                }

                .applyWindow_optionsEmail{
                    display: none;
                }

                .applyWindow_optionsLink{
                    display: none;

                }

                a {
                    font-size: 20px;
                    color: $basic-color;
                    border: 1px solid $basic-color;
                    border-radius: 10px;
                    padding: 5px 20px;
                    cursor: pointer;
                }

                a:hover{
                    color: #fff;
                    border: none;
                    background-color: $basic-color-hover;
                }
                
                a:active{
                    color: #fff;
                    border: none;
                    background-color: $basic-color-hover;
                }
            }

            .applyWindow_optionsFooter{
                border-top: 1px solid #e3e3e3;
                margin: 0px;
                padding: 0px 10px;
                color: #545454;

                p {
                    font-size: 14px;
                    padding: 10px 0px;
                    margin: 0px;
                }
            }            
        }


    }

    .applyWindowShow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 800px){
    .JobPage{
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;

        .jobTitle, .jobHeader{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .bluredContent{
        div{
            max-width: 1170px !important;
        }
    }
}